node_modules/
dist/
build/
.env
.env.*
!.env.example

*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
id_ecdsa
id_ecdsa.pub

edusaas-ghana---school-management-system
edusaas-ghana---school-management-system.pub

.vscode/
.DS_Store
